h3{
color:pink;
}
p{
color:red;
text-align:center;
}

span{
 color:blue;
}

div{
background-color:pink;
text-align:center;
color:black;

}
div img:hover{
opacity:0.5;
background
}

img{
opacity:1.0;
}

a:hover{
background-color:yellow;
font-size:60px;
}
#para1{
background-color:blue;
color:pink;
}

.center{
background-color:yellow;
}





